$black: #2F3C7E;
$blk:#000;
$bg: #fff;
$light-bg: #eee;
$main-color: #2980b9;
$light-color: #666;
$border: 1px solid rgba(0, 0, 0, 0.1);

$none:none;
$center:center;



$hundred:100%;
$zero:0;
$tenpix:10px;
$twentypix:20px;
$thirtypix:30px;

$upper:uppercase;